.celdas-amarillas{
	background-color:#FFFFCC;
	color:#666666;
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
	font-weight:normal;
	padding-bottom:2px;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px
}
.celdas-azules{
	background-color:#dae9f3;color:#000000;
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
	font-weight:normal;
	padding-bottom:2px;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px
}
.celdas-blancas{
	background-color:#FFFFFF;
	color:#000000;
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
	font-weight:normal;
	padding: 2px;
}
.celdas-grises{
	background-color:#eeeeee;
	color:#666666;
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
	font-weight:normal;
	padding-bottom:2px;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px
}
.celdas-verdes{
	background-color:#DAF3DB;
	color:#666666;
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
	font-weight:normal;
	padding-bottom:2px;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px
}
.fondo-tabla{
	border:none;
	background-color: #CCCCCC;
	text-indent: 2pt;
}
.titulo-celda {
	background-color:#006600;
	color:#FFFFFF;
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
	font-weight:bold;
	text-align: center;
	border: thin none #CCCCCC;
}.titulo-celdanew {
	background-color:#006600;
	color:#FFFFFF;
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
	font-weight:bold;
	text-align: center;
	border: thin none #CCCCCC;
}
.bordeazul{
	background-color:#dae9f3;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}