/***********************************************************************************
* @Estilo para manejar el menu del sistema
* @fecha de creación: 07/08/2008
* @autor: Ing. Gusmary Balza
* **************************
* @fecha modificacion 
* @autor   
* @descripcion 
***********************************************************************************/
#container {
    width:900px;
    height:400px;
    border:3px solid #c3daf9;
}
.blist {
    background-image: url(../../base/imagenes/sigesp_img_listamenu.png) !important;
}

.bmenu {
    background-image: url(../../base/imagenes/sigesp_img_menu.png) !important;
}

.bmenuaceptar {
    background-image: url(../../base/imagenes/sigesp_img_aceptar.png) !important;
}

.bmenucancelar {
    background-image: url(../../base/imagenes/sigesp_img_cancelar.png) !important;
}

.bmenunuevo {
    background-image: url(../../base/imagenes/sigesp_img_nuevo.png) !important;
}

.bmenuguardar {
    background-image: url(../../base/imagenes/sigesp_img_guardar.png) !important;
}

.bmenueliminar {
    background-image: url(../../base/imagenes/sigesp_img_eliminar.png) !important;
}

.bmenuprocesar {
    background-image: url(../../base/imagenes/sigesp_img_procesar.png) !important;
}

.bmenubuscar {
    background-image: url(../../base/imagenes/sigesp_img_buscar.png) !important;
}

.bmenudescargar {
    background-image: url(../../base/imagenes/sigesp_img_descargar.png) !important;
}

.bmenuimprimir {
    background-image: url(../../base/imagenes/sigesp_img_imprimir.png) !important;
}

.bmenuayuda {
    background-image: url(../../base/imagenes/sigesp_img_ayuda.png) !important;
}

.bmenuagregar {
    background-image: url(../../base/imagenes/sigesp_img_agregar.gif) !important;
}

.bmenuquitar {
    background-image: url(../../base/imagenes/sigesp_img_quitar.gif) !important;
}

.bmenuvolver {
    background-image: url(../../base/imagenes/sigesp_img_volver.png) !important;
}

.bmenuconectar {
    background-image: url(../../base/imagenes/sigesp_img_conectar.png) !important;
}
