/***********************************************************************************
* @Estilo para manejar la cabecera de los módulos
* @fecha de creación: 07/08/2008
* @autor: Ing. Gusmary Balza
* **************************
* @fecha modificacion 
* @autor   
* @descripcion 
***********************************************************************************/

#container {
    width:900px;
    height:400px;
    border:3px solid #c3daf9;
}
.bencabezado {
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: left top;
	height: 40px;
	width: auto;
	background-color: #EAE9EB;
}
.bsistema {
	height: 15px;
	width: auto;
	background-color: #D9E5F3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	color: #003366;
	background-position: center center;
	line-height: normal;
	text-align: left;
	vertical-align: middle;
}
.bhora {
	height: 10px;
	width: auto;
	background-color: #D9E5F3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	color: #003366;
	background-position: center center;
	line-height: normal;
	text-align: right;
	vertical-align: middle;
}
.binactivo {
	height: 10px;
	width: auto;
	background-color: #D9E5F3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	color: #003366;
	background-position: center center;
	line-height: normal;
	text-align: right;
	vertical-align: middle;
}
.busuario {
	height: 10px;
	width: auto;
	background-color: #D9E5F3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	color: #666666;
	background-position: center center;
	line-height: normal;
	text-align: right;
	vertical-align: middle;
}

