/********************************************************************************************
	HEADER
********************************************************************************************/
#header {
    background: #7F99BE url(../img/layout-browser-hd-bg.gif) repeat-x center;
}
#header h1 {
	 font-family:'lucida grande',tahoma,arial,sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
    font-weight:bold;
}


/********************************************************************************************
	LOADING
********************************************************************************************/
#loading-mask{
     position:absolute;
     left:0;
     top:0;
     width:100%;
     height:100%;
     z-index:2000;
     background-color:white;
 }
 #loading{
     position:absolute;
     left:35%;
     top:40%;
     padding:2px;
     z-index:20001;
     height:auto;
 }
 #loading a {
     color:#225588;
 }
 #loading .loading-indicator{
     background:white;
     color:#444;
     font:bold 13px tahoma,arial,helvetica;
     padding:10px;
     margin:0;
     height:auto;
 }
 #loading-msg {
     font: normal 10px arial,tahoma,sans-serif;
 }
