.descripcion_nomina {
	font-weight: bold;
	font-size: 12px;
	color: #6699CC;
}
.sin-borde2 {
	border:none;
	color:#3982C6;
	cursor:text;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.descripcion_nomina {
	font-weight: bold;
	font-size: 14px;
	color: #6699CC;
}.sin-borde3 {
	border:none;
	color:#3982C6;
	cursor:text;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}
