body{
    background-color: #cccccc;
}

.page-header {
    background-color: #F5F5F5;
    margin: -20px -20px 20px;
    padding: 20px 20px 10px;
}

#contenido{
    min-height: 300px;
    padding: 20px;
    padding-top: 60px;
}

#form_logueo{
    width: 350px;
    margin: 0 auto;
    border: 1px solid #999999;
    padding-bottom: 0px;
}

.nav{
    /*    float: none !important;*/
}
/*
.nav .menu_salir{
    float: right;
}*/

.alert{
    margin-bottom: 7px !important;
}

table tfoot th{
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
}

.container > .content {
    background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin: 0 -20px;
    padding: 20px;
}

.control-group label{
    width: 200px !important;
    margin-right: 10px;
}

.btn{
    vertical-align: baseline;
}

ul.bienvenida li{
    margin-bottom: 10px;
    list-style: none;
}

ul.bienvenida li img{
    vertical-align: middle;
    margin-right: 10px;
    width: 40px;
}

.span-derecho{
    border-left: 1px solid #cccccc;
}

.span-derecho{
    padding-left: 20px;
}

table.table input[type=checkbox], table.table img{
    width: 20px;
    margin-right: 10px;
    margin-left: 20px;
}

.backend_menu_lateral img{
    float: left;
    margin-right: 5px;
    vertical-align: top;
}

table td:first-child{
    width: 20px;
}